
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Css/base.css" rel="stylesheet" type="text/css" />
    <link href="~/Css/home_layout.css" rel="stylesheet" type="text/css"/>

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <!--    导航栏-->
    <nav class="nav_wrap">
        <div class="nav_container">
            <div class="nav_logo">
                <a href="#">
                    <img src="~/Images/logo_blue.png" />
                </a>
            </div>
            <ul class="nav_list">
                <li class="nav_item">
                    产品介绍<i></i>
                    @*<ul class="nav_second_list">
                        <li class="nav_second_item">问卷调研</li>
                        <li class="nav_second_item">问卷调研</li>
                        <li class="nav_second_item">问卷调研</li>
                        <li class="nav_second_item">问卷调研</li>
                        <li class="nav_second_item">问卷调研</li>
                        <li class="nav_second_item">问卷调研</li>
                        <li class="nav_second_item">问卷调研</li>
                        <li class="nav_second_item">问卷调研</li>
                        <li class="nav_second_item">问卷调研</li>
                    </ul>*@
                </li>
                <li class="nav_item">免费模板</li>
                <li class="nav_item">样本收集</li>
                <li class="nav_item">
                    我要答题<i></i>
                    @*<ul class="nav_second_list">
                        <li class="nav_second_item">经典测试</li>
                        <li class="nav_second_item">答题广场</li>
                    </ul>*@
                </li>
                <li class="nav_item">
                    企业服务<i></i>
                    @*<ul class="nav_second_list">
                        <li class="nav_second_item">客户体验管理系统</li>
                        <li class="nav_second_item">专业调研服务</li>
                        <li class="nav_second_item">开放平台</li>
                    </ul>*@
                </li>
                <li class="nav_item">商务合作</li>
            </ul>
            <div class="nav_btn_list">
                <span class="btn_item">
                    <a href="#">登录</a>
                </span>
                <span style="font-size: 17px;">|</span>
                <span class="btn_item">
                    <a href="#">注册</a>
                </span>
            </div>
        </div>
        
    </nav>

    <!--    背景巨幕图-->
    <header class="header_wrap">
        <img src="~/Images/home-page-background-all.jpg" class="header_bg" />
        <p>专业易用的</p>
        <p>问卷调研·报名表单·考试测评</p>
        <p>问卷网已帮助<span>936万</span>用户收集超过<span>7.6亿</span>份数据</p>
        <button type="submit" class="btn btn-primary">免费使用</button>
    </header>

    <!--    第一栏 description-->
    <div class="section_description">

    </div>

    <!--    第二栏 reason-->
    <div class="section_reason">

    </div>

    <!--    第三栏 scene-->
    <div class="section_scene">

    </div>

    <!--    第四栏 user-->
    <div class="section_user">

    </div>

    <!--    第五栏 feature-->
    <div class="section_feature">

    </div>

    <!--    第五栏 template-->
    <div class="section_template">

    </div>

    <!--    第五栏 customs-->
    <div class="section_customs">

    </div>

    <!--    赶快创建第一个项目-->
    <div class="section_start">

    </div>

    <footer class="footer_wrap">
        <div class="footer_item">
            <div class="footer_item_title"></div>
            <div class="footer_item_context"></div>
        </div>
        <div class="footer_item">
            <div class="footer_item_title"></div>
            <div class="footer_item_context"></div>
        </div>
        <div class="footer_item">
            <div class="footer_item_title"></div>
            <div class="footer_item_context"></div>
        </div>
        <div class="footer_item">
            <div class="footer_item_title"></div>
            <div class="footer_item_context"></div>
        </div>
        <div class="footer_item">
            <div class="footer_item_title"></div>
            <div class="footer_item_context"></div>
        </div>
        <div class="footer_item">
            <div class="footer_item_title"></div>
            <div class="footer_item_context"></div>
        </div>
    </footer>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
